nav {
  padding: 0px 40px;
}
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
}
strong {
  font-size: 40px;
}
h2,
h3,
h4,
h5 {
  margin-bottom: 5px;
  text-align: justify;
}

article {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn-start > a {
  width: 200px;
}
.container-index {
  background-color: #394046;
  background-image: url('/assets/fondo.jpg');
  background-position: center;
  background-size: cover;
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}
.info-general {
  padding: 60px 0;
}
.img-example {
  border-radius: 10px;
}
#header {
  width: 60%;
}
.headings {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  text-align: justify;
}

hgroup {
  width: 60%;
}
.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 700;
}

.box__footer a {
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  width: 80%;
  text-align: center;
}

.box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}
.box__copyright b {
  color: white;
}
.redes {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.redes-title {
  display: flex;
  flex-direction: column;
}
footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(../Images/background-footer.svg);
  background-size: cover;

  /*background-color: #d0f0f8;
  -webkit-mask-image: url("../Images/background-footer.svg");
  mask-image: url("../Images/background-footer.svg");
  -webkit-mask-size: cover;
  mask-size: cover;*/
}
.outline {
  width: 100px;
  border-radius: 5px;
}
.user-options {
  width: 20%;
  border-right: solid 0.5px rgb(50, 50, 66);
  padding: 30px 0 0 20px;
}
.nav {
  border-bottom: solid 0.5px rgb(50, 50, 66);
}
.user-games {
  width: 80%;
  padding: 30px 70px;
}
.pagina-principal {
  display: flex;
  border-bottom: solid 0.5px rgb(50, 50, 66);
}
/* #info-app{
  padding: 50px;
  border-left: solid .5px rgb(50, 50, 66);
  border-right: solid .5px rgb(50, 50, 66);
} */
html {
  scroll-behavior: smooth;
}
details a {
  text-decoration: none;
}
.generarPeliculas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.generarPeliculas:hover {
  cursor: pointer;
}
.article-game {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@keyframes blur-out-expand {
  0% {
    transform: scale(1);
    filter: blur(0.01px);
  }
  100% {
    transform: scale(1.2);
    filter: blur(12px);
    opacity: 0;
  }
}
.imagen-juego {
  width: auto;
  height: 70% !important;
}
.marcador {
  padding: 10px 70px;
}
#regresar {
  position: absolute;
  top: 10px;
  left: 10px;
}
html {
  transition: all 0.2s ease-in-out;
}
.imagen-juego3 {
  width: auto !important;
  height: auto !important;
}
/* #imagenposter{
  filter: blur(20px)  brightness(50%) invert(25%);
} */
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  gap: 50px;
}
.contenedor {
  padding: 0 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#pagina-marcador {
  padding: 70px 0 0 0;
  width: 50%;
}
